{% extends 'base.html.twig' %}

{% block title %}Site index{% endblock %}

{% block body %}
    <h1>Site autorisé pour {{ app.user.name}}</h1>

    <table class="table">
        <thead>
            <tr>
            {% if "ROLE_ADMIN" in app.user.roles %}
                <th>Id</th>
            {% else %}
            {% endif %}
                <th>Nom</th>
                <th>Url</th>
                <th>Category</th>
                <th>Identifiant</th>
                <th>Mot de passe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
                    <tr>
                    {% if app.user.hasPermissionToVisit(site) %}
                        {% if "ROLE_ADMIN" in app.user.roles %}
                            <td>{{ site.id }}</td>
                        {% else %}
                        {% endif %}
                        
                        <td>{{ site.name }}</td>
                        <td>
                            <a class="link-success  link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ site.url }}" target="_blank">{{ site.url }}</a>
                            {# <a href="{{ path('connect_facebook_start', {'service': site.name}) }}">Connecter</a> #}
                        </td>
                        <td>{{ site.categorySite.name }}</td>
                        
                        {# Vérifier s'il y a un loginSite associé à l'utilisateur pour ce site #}
                        {% set userLoginSite = null %}
                        {% for loginSite in app.user.loginSites %}
                            {% if loginSite.site == site %}
                                {% set userLoginSite = loginSite %}
                                
                            {% endif %}
                        {% endfor %}
                        
                         {# Si un loginSite est trouvé, afficher le login et le mot de passe #}
                        {% if userLoginSite %}
                            <td>{{ userLoginSite.login }}</td>
                            <td>{{ userLoginSite.mdp }}</td>
                        {% else %}
                            <td>-</td>
                            <td>-</td>
                        {% endif %}
                        {% if "ROLE_ADMIN" in app.user.roles %}
                            <td>
                                <a class="btn " href="{{ path('app_site_show', {'id': site.id}) }}"><img src="{{ asset('uploads/icone/afficher-la-liste.png') }} " alt="User Image" width="50" height="50"></a>
                                <a class="btn " href="{{ path('app_site_edit', {'id': site.id}) }}"><img src="{{ asset('uploads/icone/bouton-modifier.png') }} " alt="User Image" width="50" height="50"></a>
                                <a class="btn " href="{{ path('app_site_delete_direct', {'id': site.id}) }}"><img src="{{ asset('uploads/icone/supprimer (1).png') }} " alt="User Image" width="50" height="50"></a>
                            </td>
                        {% else %}
                            <td>
                                <a class="btn btn-outline-primary" href="{{ path('app_site_show' , { 'id': site.id }) }}">Afficher</a>
                            </td>
                        {% endif %} 
                    </tr>
                    {% endif %} 
        {% endfor %}
        </tbody>
    </table>
    {# {% if 'ROLE_ADMIN' in app.user.roles %}
        <a class="btn btn-primary" href="{{ path('app_site_new') }}">Créer un nouveau</a>
    {% else %}
    {% endif %} #}
{% endblock %}
