{% extends 'base.html.twig' %}

{% block title %}Site index{% endblock %}

{% block body %}
    <h1>Site autorisé pour {{ app.user.name}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>Category</th>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <th>Login</th>
                    <th>id Login</th>
                    <th>class Login</th>
                    <th>Mot de pass</th>
                    <th>id Password</th>
                    <th>class Password</th>
                    <th>id bouton</th>
                    <th>class bouton</th>
                {% endif %}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
            {% if app.user.hasPermissionToVisit(site) %}
                <td>{{ site.id }}</td>
                <td>{{ site.name }}</td>
                <td>
                    <a class="link-success  link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ site.url }}" target="_blank">{{ site.url }}</a>
                    {# <a href="{{ path('connect_facebook_start', {'service': site.name}) }}">Connecter</a> #}
                </td>
                <td>{{ site.categorySite.name }}</td>
               
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <td>{{ site.user.email }}</td>

                    {# id login #}
                    {% if site.name =='Facebook' %}
                        <td>email</td>
                    {% elseif site.name == 'Instagram' %}
                        <td>-</td>
                    {% endif %}
                    {# id login #}

                    {# class login #}
                    {% if site.name =='Facebook' %}
                        <td>-</td>
                    {% elseif site.name == 'Instagram' %}
                        <td>_aa4b _add6 _ac4d _ap35</td>
                    {% endif %}
                    {# class login #}

                    <td>{{ site.user.password }}</td>

                    {# id password #}
                    {% if site.name =='Facebook' %}
                        <td>pass</td>
                    {% elseif site.name == 'Instagram' %}
                        <td>-</td>
                    {% endif %}
                    {# id password #}

                    {# class password #}
                    {% if site.name =='Facebook' %}
                        <td>-</td>
                    {% elseif site.name == 'Instagram' %}
                        <td>_aa4b _add6 _ac4d _ap35</td>
                    {% endif %}
                    {# class password #}

                    {# class boutton #}
                    {% if site.name =='Facebook' %}
                        <td>_42ft _4jy0 _6lth _4jy6 _4jy1 selected _51sy</td>
                    {% elseif site.name == 'Instagram' %}
                        <td>_acan _acap _acas _aj1- _ap30</td>
                    {% endif %}
                    {# class boutton #}
                    
                <td>
                    <a class="btn btn-info" href="{{ path('app_site_show', {'id': site.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('app_site_edit', {'id': site.id}) }}">edit</a>
                    <a class="btn btn-danger" href="{{ path('app_site_delete_direct', {'id': site.id}) }}">delete</a>
                </td>
                {% else %}
                <td>
                     <a class="btn btn-outline-primary" href="#">show</a>
                </td>
                {% endif %}
            {% else %}
            {% endif %}            
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if 'ROLE_ADMIN' in app.user.roles %}
        <a class="btn btn-primary" href="{{ path('app_site_new') }}">Create new</a>
    {% else %}
    {% endif %}
{% endblock %}
