{% extends 'base.html.twig' %}

{% block title %}Site{% endblock %}

{% block body %}
    <h1>Site</h1>

    <table class="table">
        <tbody>
            <tr>
            {% if "ROLE_ADMIN" in app.user.roles %}
                <th>Id</th>
                <td>{{ site.id }}</td>
            {% else %}
            {% endif %}
                
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ site.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ site.url }}</td>
            </tr>
            <tr>
                <th>Catégory</th>
                <td>{{ site.categorySite.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('app_site_index') }}">Retour à la liste</a> 
     {% if "ROLE_ADMIN" in app.user.roles %}
        <a class="btn btn-outline-secondary" href="{{ path('app_site_edit', {'id': site.id}) }}">Modifier</a><br>
        {{ include('site/_delete_form.html.twig') }}
    {% else %}
    {% endif %}
    

    
{% endblock %}
