{% extends 'register.html.twig' %}

{% block title %}Registre{% endblock %}

{% block body %}
<div class="container security-form">
    <div class="form_login">
    <br><br>
    <h1><center>Registre</center></h1>
<br>
    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
    
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Nom</span>
            {{ form_widget(registrationForm.name ,{'attr':{'class':'form form-control' ,  'placeholder':'saisit votre nom' }}) }} 
        </div><br>

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Prénom</span>
            {{ form_widget(registrationForm.surname ,{'attr':{'class':'form form-control' ,  'placeholder':'saisit votre prénom' }}) }} <br>
        </div><br>

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Date de naissance</span>
            {{ form_widget(registrationForm.dateNaissance ,{'attr':{'class':'form form-control' }}) }} <br>
        </div><br>

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Lieu de naissance</span>
            {{ form_widget(registrationForm.lieuNaissance ,{'attr':{'class':'form form-control'  }}) }} <br>
        </div><br>

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Image</span>
            {{ form_widget(registrationForm.image ,{'attr':{'class':'form form-control' }}) }} <br>
        </div><br>

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">E-mail</span>
            {{ form_widget(registrationForm.email ,{'attr':{'class':'form form-control' ,  'placeholder':'exemple@gmail.com' }}) }} <br>
        </div><br>

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Fonction</span>
            {{ form_widget(registrationForm.fonction ,{'attr':{'class':'form form-control' ,  'placeholder':'exemple : développeur' }}) }} <br>
        </div><br>
    
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Situation familiale</span>
            {{ form_widget(registrationForm.situationFamiliale ,{'attr':{'class':'form form-control' ,  'placeholder':'exemple : Célibataire' }}) }} <br>
        </div><br>

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Genre</span>
            {{ form_widget(registrationForm.genre,{'attr':{'class':'form form-control'  }}
           ) }}
        </div><br>

    {# <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Genre</span>
        <select class="form-select form-control" id="registrationForm_genre" name="registrationForm[genre]">
            <option value="masculin" {% if registrationForm.genre.vars.value == 'masculin' %}selected{% endif %}>Masculin</option>
            <option value="féminin" {% if registrationForm.genre.vars.value == 'féminin' %}selected{% endif %}>Féminin</option>
            <option value="non-binaire" {% if registrationForm.genre.vars.value == 'non-binaire' %}selected{% endif %}>Non-binaire</option>
        </select>
    </div><br> #}





        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Domicile</span>
            {{ form_widget(registrationForm.lot ,{'attr':{'class':'form form-control'  }}) }} <br>
        </div><br>

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Phone number</span>
            {{ form_widget(registrationForm.tel ,{'attr':{'class':'form form-control'  }}) }} <br>
        </div><br>

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Mot de pass</span>
            {{ form_widget(registrationForm.plainPassword, {
            label: 'Password'
        } ,{'attr':{'class':'form form-control' }})  }}<br>
        </div><br>
        {{ form_row(registrationForm.agreeTerms ,{'attr':{'class':'form-check-input' }}) }}<br> 

        <button type="submit" class="btn btn-primary">Register</button><br>
        {% if app.user %}
            <span>Retour </span>
            {% if "ROLE_ADMIN" in app.user.roles %}
                <a class="text_bleu"  href="{{ path('app_profil_index') }}"> au profil</a> 
            {% else %}
                <a class="text_bleu"  href="{{ path('app_user_profil_simple') }}">au profil</a> 
            {% endif %}
        {% else %}
            <span>Si vous êtes déjà inscrit, cliquez sur</span>
            <a class="text_bleu btn btn-outline-info"  href="{{ path('app_login') }}">au login</a>
        {% endif %}

        
    {{ form_end(registrationForm) }}
    </div>
    <br><br>
</div>
{% endblock %}
