<nav class="navbar navbar-expand-lg " id="navgreen">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    
    {% if "ROLE_ADMIN" in app.user.roles %}
      <a  href="{{ path('app_profil') }}">
        <img src="{{ asset('uploads/images/' ~ app.user.image) }} " alt="Admin Image" class="rounded-circle " style="max-width: 50px; max-height: 50px;">
      </a>
    {% else %}
    <a  href="{{ path('app_user_profil_simple') }}">
        <img src="{{ asset('uploads/images/' ~ app.user.image) }} " alt="User Image" class="rounded-circle " style="max-width: 50px; max-height: 50px;">
      </a>
    {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Liens de navigation généraux -->
        <li class="nav-item">
            <a class="nav-link text-white" href="{{ path('app_apropos') }}">A propos</a>
        </li>

        <!-- Vérification des rôles pour afficher des éléments spécifiques -->
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">User</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ path('app_profil') }}">Profil</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_user_index') }}">Utilisateur</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a></li>
                </ul>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Site</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ path('app_site_index') }}">Site</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_liste_site_index') }}">Liste des Sites</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_category_site_index') }}">Catégorie des Sites</a></li>
                </ul>
            </li>
            
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('app_permission_index') }}">Permission</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('app_user_profil_simple') }}">Profil</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('app_site_index') }}">Site</a>
            </li>
        {% endif %}

        <!-- Affichage du nom de l'utilisateur -->
        <li class="nav-item">
            <span class="nav-link">{{ app.user.name }}</span>
        </li>
    </ul> 

    <!-- Formulaire de déconnexion -->
    <form class="d-flex">
        <button class="btn btn-lg btn-outline-secondary" type="submit">
            <a class="btn-logout" href="{{ path('app_logout') }}">Logout</a>
        </button>
    </form>
</div>

  </div>
</nav>
<ul id="navgreen" class="nav ">
  <a class="nav-link center  justify-content-center" id="text-white" aria-disabled="true">Réseaux sociaux : outil puissant, utiliser sagement.</a>
</ul>
