{% extends 'base.html.twig' %}

{% block title %}CategorySite index{% endblock %}

{% block body %}
    <h1>CategorySite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_site in category_sites %}
            <tr>
                <td>{{ category_site.id }}</td>
                <td>{{ category_site.name }}</td>
                <td>{{ category_site.description }}</td>
                <td>
                    <a class="btn " href="{{ path('app_category_site_show', {'id': category_site.id}) }}"><img src="{{ asset('uploads/icone/afficher-la-liste.png') }} " alt="User Image" width="50" height="50"></a>
                    <a class="btn " href="{{ path('app_category_site_edit', {'id': category_site.id}) }}"><img src="{{ asset('uploads/icone/bouton-modifier.png') }} " alt="User Image" width="50" height="50"></a>
                    <a class="btn " href="{{ path('app_categorysite_delete_direct', {'id': category_site.id}) }}"><img src="{{ asset('uploads/icone/supprimer (1).png') }} " alt="User Image" width="50" height="50"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun document trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_category_site_new') }}">Créer un nouveau</a>
{% endblock %}
