{% extends 'base.html.twig' %}

{% block title %}CategorySite index{% endblock %}

{% block body %}
    <h1>CategorySite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_site in category_sites %}
            <tr>
                <td>{{ category_site.id }}</td>
                <td>{{ category_site.name }}</td>
                <td>{{ category_site.description }}</td>
                <td>
                    <a href="{{ path('app_category_site_show', {'id': category_site.id}) }}">show</a>
                    <a href="{{ path('app_category_site_edit', {'id': category_site.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_site_new') }}">Create new</a>
{% endblock %}
