{% extends 'base.html.twig' %}

{% block title %}Permission index{% endblock %}

{% block body %}
    <div class="container">
    <h1>Permission index</h1>
    
    <table class="table">
        <thead>
            <tr>
                {# <th>N°</th> #}
                <th>Id</th>
                <th>Utilisateur</th>
                <th>Site</th>
                <th>CreatedAt</th>
                <th>IsAuthorized</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for permission in permissions %}
            <tr>
                {# <td>{{ $i }}</td> #}
                <td>{{ permission.id }}</td>
                <td>{{ permission.user.name }}</td>
                <td>{{ permission.site.name }}</td>
                <td>{{ permission.createdAt ? permission.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ permission.isAuthorized ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_permission_show', {'id': permission.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('app_permission_edit', {'id': permission.id}) }}">edit</a>
                    <a class="btn btn-danger" href="{{ path('supprimer_permission_direct', {'id': permission.id}) }}">delete</a>
                    {% if permission.isAuthorized %}
                         <form class="btn btn-danger"  action="{{ path('retire_permission', { 'permissionId': permission.id }) }}" method="post">
                            <button class="btn btn-danger" type="submit">Retirer la Permission</button>
                        </form>
                    {% else %}
                       <form class="btn btn-success"  action="{{ path('assign_permission', { 'permissionId': permission.id }) }}" method="post">
                            <button class="btn btn-success" type="submit">Assign Permission</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_permission_new') }}">Create new</a>
    </div>
{% endblock %}
