{% extends 'base.html.twig' %}

{% block title %}Permission index{% endblock %}

{% block body %}
    <h1>Permission index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Utilisateur</th>
                <th>Site</th>
                <th>CreatedAt</th>
                <th>IsAuthorized</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for permission in permissions %}
            <tr>
                <td>{{ permission.id }}</td>
                <td>{{ permission.user.name }}</td>
                <td>{{ permission.site.name }}</td>
                <td>{{ permission.createdAt ? permission.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ permission.isAuthorized ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_permission_show', {'id': permission.id}) }}">show</a>
                    <a href="{{ path('app_permission_edit', {'id': permission.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_permission_new') }}">Create new</a>
{% endblock %}
