{% extends 'base.html.twig' %}

{% block title %}Permission{% endblock %}

{% block body %}
    <h1>Permission</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ permission.id }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ permission.createdAt ? permission.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>A</th>
                <td>{{ permission.isAuthorized ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('app_permission_index') }}">back to list</a>

    <a class="btn btn-outline-secondary" href="{{ path('app_permission_edit', {'id': permission.id}) }}">Modifier</a>

    {{ include('permission/_delete_form.html.twig') }}
{% endblock %}
